NODE_ENV="development"
PORT="4004"
HOST="live-frog-radically.ngrok-free.app"
HOSTNAME="0.0.0.0"
SET_BOT_WEBHOOK="false"
DB_URL="dev.sqlite"

BOT_TOKEN=""

YKASSA_KASSA_ID=1111274
YKASSA_KASSA_API=test_WxpJdLs_8lvozvQCkO8vPGxvBUpg0FJpjufoNjirLd4
YKASSA_PROVIDER_TOKEN=381764678:TEST:128349

REMNAWAVE_PANEL_URL="https://increasingly-laudable-oryx.cloudpub.ru"
REMNAWAVE_API_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiYjAwOGQxMDktODMwMC00OWIxLWE4NGEtODM3ZjA4MTQ5NDE4IiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3NjczMzQ1NTAsImV4cCI6MTA0MDcyNDgxNTB9.rHP8adypDNdKJuzW-QSZdEPnr3cGLpv1MnLjuoJOojc"
WEBHOOK_SECRET_HEADER=eac2d38db4960623ccbd14f0812325421b8e864d389a35ecc6a69fbb784844fb83a432bb5e4a13932d14dbd073b8f7a53d1c2c8623e4bf7b210f3de73052f675
