NODE_ENV="development"
PORT="4004"
HOST="live-frog-radically.ngrok-free.app"
HOSTNAME="0.0.0.0"
SET_BOT_WEBHOOK="false"
DB_URL="dev.sqlite"

BOT_TOKEN=""
REF_SECRET=""
BOT_NAME="BobMailPusher_bot"

YKASSA_KASSA_ID=1111274
YKASSA_KASSA_API=test_WxpJdLs_8lvozvQCkO8vPGxvBUpg0FJpjufoNjirLd4
YKASSA_PROVIDER_TOKEN=381764678:TEST:128349

REMNAWAVE_PANEL_URL="https://increasingly-laudable-oryx.cloudpub.ru"
REMNAWAVE_WEB="https://ferre.serveousercontent.com"
REMNAWAVE_API_TOKEN=""
WEBHOOK_SECRET_HEADER=
