NODE_ENV="development"

DB_URL="dev.sqlite"

SET_BOT_WEBHOOK="false"
BOT_WEBHOOK_HOST="live-frog-radically.ngrok-free.app"
BOT_TOKEN=""
BOT_NAME="BobMailPusher_bot"
BOT_ADMIN_ID="1327751779"
BOT_WEBHOOK_SECRET=ifXLeb_y_k567epcCFHllNMM6Mx7ovGuFa-NCwceqZdLTzvhNUQf9ewdIy4qoKNEuPjVnZi35qmsbaMyw8MwvQ
BOT_WEBHOOK_PATH_SECRET="/tg_webhook/y1rPYR2jonqJL-iKPnP47w"

REF_SECRET="h4BZ7vCNKBwqjkigCs7t6PEOr36hirsbUp5ebgCw9raQGBLt0ehwyKJfI-fv6l_xWzMHGDv2EhZhEijfsHMFXg"

YKASSA_KASSA_ID=""
YKASSA_KASSA_API=""
YKASSA_PROVIDER_TOKEN=""

REMNAWAVE_PANEL_URL="https://exiguum.serveousercontent.com"
REMNAWAVE_WEB="https://ferre.serveousercontent.com"
REMNAWAVE_API_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiNWRlYTY5NDMtMTAwMS00ZjNhLWE3ODUtYWQ0NzhiOTU4MDFhIiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3Njk1MjczOTksImV4cCI6MTA0MDk0NDA5OTl9.K3pzBPSTGNS4DT9n0yFDWx05rTGLLUEzN2mhxYUWEWc"
WEBHOOK_SECRET_HEADER=eac2d38db4960623ccbd14f0812325421b8e864d389a35ecc6a69fbb784844fb83a432bb5e4a13932d14dbd073b8f7a53d1c2c8623e4bf7b210f3de73052f675
